body {
    font-family: 'Roboto', sans-serif;
    background-image: url("/static/img/bg.jpg");
    background-size: cover;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 20px;
    margin-top: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

h1, h2 {
    font-family: 'Poppins', sans-serif;
}

.btn-primary, .btn-secondary {
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 16px;
}

.form-control, .form-control-file {
    border-radius: 20px;
}

.list-group-item {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    color: #ffffff;
}

.list-group-item a {
    color: #ffffff;
    text-decoration: none;
}

.list-group-item a:hover {
    text-decoration: underline;
}
